.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}
 
        /* h1 {
            color: green;
        }
          
        .container {
            display: table;
            width: 100%
        }
           */
        /* label {
            display: table-cell;
            width: 1px;
            white-space: nowrap;
        }
          
        span {
            display: table-cell;
            padding: 0 4px 0 6px;
        } */
          
        /* input {
            width: 70%;
        } */
        select, option {
            width: 170px;
        }